<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!-- footer top area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <img src="/img/logo-white-1.png" alt="">
                        <p>DeeG – không chỉ là giày, mà còn là phong cách sống. Hãy chọn cho mình đôi giày phù hợp ngay hôm nay!</p>
                        <ul class="address">
                            <li>
                                <span class="fa fa-fax"></span>
                                (800) 123 456 789
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                (800) 123 456 789
                            </li>
                            <li>
                                <span class="fa fa-envelope-o"></span>
                                devtech.codes@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-tweets">
                        <div class="footer-title">
                            <h3>Tin tức</h3>
                        </div>
                        <div class="twitter-feed">
                            <div class="twitter-article">
                                <div class="twitter-img">
                                    <a href="#">
                                        <img src="/img/twitter/twitter-1.png" alt="">
                                    </a>
                                </div>
                                <div class="twitter-text">
                                    <p>Ưu đãi 20% cho khách hàng mới – mua ngay tại DeeG.</p>
<!--                                    <a href="#">https://t.co/iu0OYBwti8</a>-->
<!--                                    <div class="twitter-time">-->
<!--                                        <a href="#">16h</a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="twitter-article">
                                <div class="twitter-img">
                                    <a href="#">
                                        <img src="/img/twitter/twitter-1.png" alt="">
                                    </a>
                                </div>
                                <div class="twitter-text">
                                    <p>DeeG ra mắt bộ sưu tập giày thu đông 2025 – đa dạng mẫu mã, phong cách trẻ trung.</p>
<!--                                    <a href="#">https://t.co/iu0OYBwti8</a>-->
<!--                                    <div class="twitter-time">-->
<!--                                        <a href="#">16h</a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-support">
                        <div class="footer-title">
                            <h3>Hỗ trợ khách hàng</h3>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Tài khoản nâng cao</a></li>
                                <li><a href="#">Tìm kiếm nâng cao</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <div class="footer-title">
                            <h3>Thông tin DeeG Shop</h3>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="about-us.html">Về chúng tôi</a></li>
                                <li><a href="#">Dịch vụ khách hàng</a></li>
                                <li><a href="#">Đổi trả & Hoàn tiền</a></li>
                                <li><a href="#">Hướng dẫn thanh toán</a></li>
                                <li><a href="#">Sơ đổ website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top area end -->
    <footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>Copyright &copy; 2025 <a href="#"> DeeGShop</a>. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-icon">
                    <img src="/img/payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>
</footer>
</div>