<!doctype html>
<html class="no-js" lang="">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Account || DeeG Shop </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

        <!-- favicon
        ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- Google Fonts
        ============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Bootstrap CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Bootstrap CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- owl.carousel CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        <!-- jquery-ui CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <!-- meanmenu CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/meanmenu.min.css">
        <!-- nivoslider CSS
        ============================================ -->
        <link rel="stylesheet" href="/lib/css/nivo-slider.css">
        <link rel="stylesheet" href="/lib/css/preview.css">
        <!-- animate CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- magic CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/magic.css">
        <!-- normalize CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/normalize.css">
        <!-- main CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- style CSS
        ============================================ -->
        <link rel="stylesheet" href="/style.css">
        <!-- responsive CSS
        ============================================ -->
        <link rel="stylesheet" href="/css/responsive.css">
        
        <!-- Goong Maps CSS & JS -->
        <link href="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
        
        <!-- modernizr JS
        ============================================ -->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header area start -->
        <div th:include="~{fragments/user/header.html}"></div>
        <!-- header area end -->
        <!-- my account area start -->
        <div class="account-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="location">
                            <ul>
                                <li><a href="/user/shop" title="go to homepage">Trang Chủ<span>/</span></a>  </li>
                                <li><strong>Tài Khoản</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: center; align-items: center;" >
                    <div class="col-lg-9">
                        <div class="my-account-accordion">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-list-ol"></i>
                                                Lịch sử và chi tiết đơn hàng
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="account-title">
                                                        <h4>Đây là các đơn hàng bạn đã đặt kể từ khi tạo tài khoản.</h4>
                                                    </div>
                                                    <div class="order-history">
                                                        <p>Bạn chưa đặt bất kỳ đơn hàng nào.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">

                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <i class="fa fa-file-o"></i>
                                                Phiếu tín dụng của tôi
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="account-title">
                                                        <h4>Các phiếu tín dụng bạn nhận được sau khi hủy đơn hàng. </h4>
                                                    </div>
                                                    <div class="credit-slids">
                                                        <p>Bạn chưa nhận được phiếu tín dụng nào.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-top: 15px; background: white; border: 1px solid #ddd; border-radius: 4px;">
                                    <div class="panel-heading" role="tab" id="headingThree" style="background: #f5f5f5; border-bottom: 1px solid #ddd;">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <i class="fa fa-building-o"></i>
                                                Địa chỉ của tôi
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="my-address">
                                                        <p>Hãy thiết lập địa chỉ thanh toán và giao hàng mặc định để chúng tôi có thể xử lý đơn hàng nhanh chóng. Bạn cũng có thể thêm địa chỉ khác, thuận tiện cho việc nhận hàng tại nhà, văn phòng hoặc gửi quà tặng.</p>
                                                        <div class="account-title">
                                                            <h4>Danh sách địa chỉ của bạn:</h4>
                                                        </div>
                                                        <p>Đừng quên cập nhật thông tin nếu có thay đổi để việc giao hàng luôn thuận tiện.</p>
                                                        <div id="error-message" class="alert alert-danger" style="display: none;">
                                                            <span id="error-text"></span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <div id="address-list">
                                                                    <!-- Address list will be loaded via AJAX -->
                                                                    <p style="color: #999; text-align: center; padding: 20px;">
                                                                        <i class="fa fa-spinner fa-spin"></i> Đang tải danh sách địa chỉ...
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-address">
                                                            <button type="button" data-bs-toggle="modal" data-bs-target="#addAddressModal">Thêm địa chỉ mới</button>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl" style="max-width: 1200px;">
                                                                <div class="modal-content">
                                                                    <div class="modal-header" style="border-bottom: 1px solid #ddd; padding: 25px 30px;">
                                                                        <h5 class="modal-title" id="addAddressModalLabel" style="font-size: 20px; font-weight: bold;">
                                                                            <i class="fa fa-map-marker"></i> Thêm địa chỉ giao hàng
                                                                        </h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 20px;"></button>
                                                                    </div>
                                                                    <div class="modal-body" style="padding: 20px;">
                                                                        <div class="row">
                                                                            <!-- Google Maps Column -->
                                                                            <div class="col-md-7">
                                                                                <div class="map-container" style="margin-bottom: 20px;">
                                                                                    <label style="display: block; font-weight: bold; margin-bottom: 10px;">
                                                                                        <i class="fa fa-search"></i> Tìm kiếm vị trí trên bản đồ:
                                                                                    </label>
                                                                                    <input type="text" id="mapSearchInput" placeholder="Nhập địa chỉ để tìm kiếm..." 
                                                                                           style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;">
                                                                                    <div id="goongMap" style="width: 100%; height: 400px; border: 1px solid #ddd; border-radius: 5px;"></div>
                                                                                    <p style="font-size: 12px; color: #666; margin-top: 5px;">
                                                                                        <i class="fa fa-info-circle"></i> Click vào bản đồ để chọn vị trí chính xác
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <!-- Form Column -->
                                                                            <div class="col-md-5">
                                                                                <form id="addAddressForm">
                                                                                    <!-- ⭐ Thông tin người nhận -->
                                                                                    <div class="form-name" style="margin-bottom: 15px;">
                                                                                        <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                            <i class="fa fa-user"></i> Tên người nhận <em style="color: red;">*</em>
                                                                                        </label>
                                                                                        <input type="text" id="recipientName" name="recipientName" placeholder="Nhập họ tên người nhận" required
                                                                                               style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">
                                                                                    </div>
                                                                                    
                                                                                    <div class="form-name" style="margin-bottom: 15px;">
                                                                                        <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                            <i class="fa fa-phone"></i> Số điện thoại <em style="color: red;">*</em>
                                                                                        </label>
                                                                                        <input type="tel" id="recipientPhone" name="recipientPhone" placeholder="VD: 0901234567" required
                                                                                               pattern="^0\d{9}$" title="Số điện thoại phải là 10 số và bắt đầu bằng 0"
                                                                                               style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">
                                                                                    </div>
                                                                                    
                                                                                    <!-- ⭐ Địa chỉ từ Map -->
                                                                                    <div class="form-name" style="margin-bottom: 15px;">
                                                                                        <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                            <i class="fa fa-map-pin"></i> Địa chỉ đã chọn <em style="color: red;">*</em>
                                                                                        </label>
                                                                                        <textarea id="selectedAddress" name="selectedAddress" placeholder="Địa chỉ sẽ hiển thị khi bạn chọn trên bản đồ" readonly
                                                                                               style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 13px; height: 60px; resize: vertical; background: #f9f9f9;"></textarea>
                                                                                    </div>
                                                                                    
                                                                                    <!-- Hidden fields for coordinates -->
                                                                                    <input type="hidden" id="latitude" name="latitude">
                                                                                    <input type="hidden" id="longitude" name="longitude">
                                                                                    
                                                                                    <!-- ⭐ Số nhà, tên đường (bao gồm phường, quận) -->
                                                                                    <div class="form-name" style="margin-bottom: 15px;">
                                                                                        <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                            <i class="fa fa-road"></i> Số nhà, tên đường <em style="color: red;">*</em>
                                                                                        </label>
                                                                                        <textarea id="street" name="street" placeholder="VD: Toyota Dũng Tiến, 233 Đại Lộ Hùng Vương, Phường 5, Tuy Hòa" required
                                                                                               style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px; height: 60px; resize: vertical;"></textarea>
                                                                                        <small style="color: #666; font-size: 12px;">💡 Nhập đầy đủ: Số nhà, tên đường, phường/xã, quận/huyện</small>
                                                                                    </div>
                                                                            
                                                                            <!-- ⭐ Tỉnh/Thành phố -->
                                                                            <div class="form-name" style="margin-bottom: 15px;">
                                                                                <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                    <i class="fa fa-university"></i> Tỉnh/Thành phố <em style="color: red;">*</em>
                                                                                </label>
                                                                                <input type="text" id="city" name="city" placeholder="VD: Phú Yên, Hồ Chí Minh, Hà Nội" required readonly
                                                                                       style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px; background-color: #f9f9f9;">
                                                                                <small style="color: #666; font-size: 12px;">💡 Tự động điền từ bản đồ</small>
                                                                            </div>
                                                                            
                                                                            <!-- Hidden: Country mặc định Việt Nam -->
                                                                            <input type="hidden" id="country" name="country" value="Việt Nam">
                                                                            
                                                                            <!-- ⭐ Loại địa chỉ (chỉ 2 loại) -->
                                                                            <div class="form-name" style="margin-bottom: 15px;">
                                                                                <label style="display: block; font-weight: bold; margin-bottom: 5px;">
                                                                                    <i class="fa fa-tag"></i> Loại địa chỉ
                                                                                </label>
                                                                                <select id="addressType" name="addressType"
                                                                                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;">
                                                                                    <option value="HOME">🏠 Nhà riêng</option>
                                                                                    <option value="OFFICE">🏢 Văn phòng</option>
                                                                                </select>
                                                                            </div>
                                                                            
                                                                            <!-- ⭐ Checkbox: Đặt làm địa chỉ mặc định -->
                                                                            <div class="form-name" style="margin-bottom: 15px;">
                                                                                <label style="display: flex; align-items: center; cursor: pointer;">
                                                                                    <input type="checkbox" id="isDefault" name="isDefault" value="true"
                                                                                           style="width: 18px; height: 18px; margin-right: 8px; cursor: pointer;">
                                                                                    <span style="font-weight: bold;">
                                                                                        <i class="fa fa-star" style="color: #f39c12;"></i> Đặt làm địa chỉ mặc định
                                                                                    </span>
                                                                                </label>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer" style="border-top: 1px solid #ddd; padding: 15px 20px;">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                                                    <button type="submit" form="addAddressForm" class="add-address"
                                                                            style="padding: 10px 20px; font-size: 16px; border-radius: 5px;">
                                                                        <i class="fa fa-save"></i> Lưu Địa Chỉ
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ========== KẾT THÚC PANEL ĐỊA CHỈ CỦA TÔI ========== -->
                            
                            <!-- ========== PANEL MY PERSONAL INFORMATION ========== -->
                            <div class="panel panel-default" style="margin-top: 15px; background: white; border: 1px solid #ddd; border-radius: 4px;">
                                <div class="panel-heading" role="tab" id="headingFour" style="background: #f5f5f5; border-bottom: 1px solid #ddd;">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <i class="fa fa-user"></i>
                                                My personal information
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="delivery-details">
                                                    <form action="/user/changeInformation" method="post">
                                                        <div class="list-style">
                                                            <div class="account-title">
                                                                <h4>Please be sure to update your personal information if it has changed. </h4>
                                                            </div>
                                                            <div id="success-message" class="alert alert-success" style="display: none;">
                                                                <span id="success-text"></span>
                                                            </div>
                                                            <div class="form-name">
                                                                <label>Email</label>
                                                                <input type="email" id="user-email" name="email" placeholder="Email" value="" readonly required>
                                                            </div>
                                                            <div class="form-name">
                                                                <label>Full Name <em>*</em> </label>
                                                                <input type="text" id="user-fullname" name="fullname" placeholder="First Name" value="" required>
                                                            </div>

                                                            <div class="form-name">
                                                                <label>Phone <em>*</em> </label>
                                                                <input type="text" id="user-phone" name="phone" placeholder="Phone" value="" required pattern="^0\d{9}$" title="Phone number must be a valid 10-digit number starting with 0">
                                                            </div>
                                                            <div class="form-name">
                                                                <label>Address</label>
                                                                <input type="text" id="user-address" name="address" placeholder="Address" value="" readonly>
                                                            </div>
                                                            <div class="save-button">
                                                                <button type="submit">save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-top: 15px; background: white; border: 1px solid #ddd; border-radius: 4px;">
                                    <div class="panel-heading" role="tab" id="headingResetPassword" style="background: #f5f5f5; border-bottom: 1px solid #ddd;">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseResetPassword" aria-expanded="false" aria-controls="collapseFour">
                                                <i class="fa fa-lock"></i>
                                                Reset password
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseResetPassword" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingResetPassword" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="delivery-details">
                                                    <form action="/user/resetPassword" method="post">
                                                        <div class="list-style">
                                                            <div class="account-title">
                                                                <h4>Please enter your current and new password to reset.</h4>
                                                            </div>
                                                            <div id="password-error" class="alert alert-danger" style="display: none;">
                                                                <span id="password-error-text"></span>
                                                            </div>
                                                            <div id="password-success" class="alert alert-success" style="display: none;">
                                                                <span id="password-success-text"></span>
                                                            </div>

                                                            <div class="form-name">
                                                                <label>Email</label>
                                                                <input type="email" id="reset-email" name="email" placeholder="Email" value="" readonly required>
                                                            </div>
                                                            <div class="form-name">
                                                                <label>Current Password<em>*</em></label>
                                                                <input type="password" name="currentPassword" placeholder="Current Password" required minlength="6" title="Password must be at least 6 characters long">
                                                            </div>
                                                            <div class="form-name">
                                                                <label>New Password <em>*</em></label>
                                                                <input type="password" name="newPassword" placeholder="New Password" required minlength="6" title="Password must be at least 6 characters long">
                                                            </div>
                                                            <div class="form-name">
                                                                <label>Confirm New Password <em>*</em></label>
                                                                <input type="password" name="confirmPassword" placeholder="Confirm New Password" required minlength="6" title="Password must match the new password">
                                                            </div>
                                                            <div class="save-button">
                                                                <button type="submit">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin-top: 15px; background: white; border: 1px solid #ddd; border-radius: 4px;">
                                    <div class="panel-heading" role="tab" id="headingFive" style="background: #f5f5f5; border-bottom: 1px solid #ddd;">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <i class="bi bi-cart"></i>
                                                Viewed Products
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <div class="wishlist-container">
                                                    <h3>Viewed Products</h3>
                                                    <div id="viewed-products-list">
                                                        <!-- Viewed products will be loaded via AJAX -->
                                                        <p>Loading...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-button" style="margin-top: 30px; margin-bottom: 40px;">
                                <div class="back-btn"> <a href="/user/my_account">Back to your Account</a> </div>
                                <div class="home"> <a href="/user/shop"> home</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- my account area end -->

        <!-- footer area start -->
        <div th:include="~{fragments/web/footer.html}"></div>
        <!-- footer area end -->

        <!-- jquery
        ============================================ -->
        <script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
        ============================================ -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- wow JS
        ============================================ -->
        <script src="/js/wow.min.js"></script>
        <!-- price-slider JS
        ============================================ -->
        <script src="/js/jquery-price-slider.js"></script>
        <!-- nivoslider JS
        ============================================ -->
        <script src="/lib/js/jquery.nivo.slider.js"></script>
        <script src="/lib/home.js"></script>
        <!-- meanmenu JS
        ============================================ -->
        <script src="/js/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
        ============================================ -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- elevatezoom JS
        ============================================ -->
        <script src="/js/jquery.elevatezoom.js"></script>
        <!-- scrollUp JS
        ============================================ -->
        <script src="/js/jquery.scrollUp.min.js"></script>
        <!-- plugins JS
        ============================================ -->
        <script src="/js/plugins.js"></script>
        <!-- main JS
        ============================================ -->
        <script src="/js/main.js"></script>
        
        <!-- User Account JS -->
        <script src="/js/user/user-account.js"></script>
        
        <!-- Address Manager JS -->
        <script src="/js/user/address-manager.js"></script>
        
        <!-- Goong Maps Integration -->
        <script src="/js/user/goong-maps.js"></script>
        
        <!-- Chat Widget -->
        <div th:replace="fragments/user/chat-widget :: chat-widget"></div>
    </body>
</html>
