<!-- ========== App Menu Start ========== -->
<html xmlns:th="http://www.thymeleaf.org">
<div class="main-nav" th:fragment="menu">
    <!-- Sidebar Logo -->
    <div class="logo-box">
        <a th:href="@{/manager}" class="logo-dark d-flex align-items-center justify-content-center gap-2">
            <iconify-icon icon="solar:bag-smile-bold" style="font-size: 2rem; color: #ff7043;"></iconify-icon>
            <span class="fw-bold fs-24 text-white">DeeG</span>
        </a>
    </div>

    <!-- Menu Toggle Button (sm-hover) -->
    <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
        <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
    </button>

    <div class="scrollbar" data-simplebar>
        <ul class="navbar-nav" id="navbar-nav">

            <li class="menu-title">CHUNG</li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/manager}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Bảng Điều Khiển </span>
                </a>
            </li>

            <li class="nav-item" style="position: relative;">
                <a class="nav-link menu-arrow" href="#sidebarOrders" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarOrders">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:bag-smile-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Đơn Hàng </span>
                    <span id="manager-order-notification-badge" class="badge bg-danger rounded-pill" style="display: none;"></span>
                </a>
                <div class="collapse" id="sidebarOrders">
                    <ul class="nav sub-navbar-nav">
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/manager/orders}">Danh Sách</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/manager/orders/1}">Chi Tiết</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/manager/products}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:box-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Sản Phẩm </span>
                </a>
            </li>

            <li class="menu-title mt-2">NGƯỜI DÙNG</li>

            <li class="nav-item">
                <a th:href="@{/manager/profile}" class="nav-link">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:user-id-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Hồ Sơ </span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:logout-2-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Đăng Xuất </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ========== App Menu End ========== -->