<html xmlns:th="http://www.thymeleaf.org">
<!-- Popup xác nhận -->
<div th:fragment="order_cancel">
    <div id="confirmModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận hủy đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn hủy đơn hàng không?</p>
                </div>
                <div class="modal-footer">
                    <button id="confirmCancelBtn" type="button" class="btn btn-danger">Hủy đơn</button>
                    <button id="closeModalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                </div>
            </div>
        </div>
    </div>
</div>